:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196F3;
  --accent-color-second: #ffffff;
  --header-footer-color: #FFFFFF;
  --body-color: #FFFFFF;
  --section-one-color: #2F303A;
  --body-color-second: #F5F4FA;
  --color-black: #000000;
  --footer-color: #2F303A;
  --footer-color-list: rgba(255, 255, 255, 0.6);
  --items-border: #EEEEEE;
}
/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */
body {
  background-color: var(--body-color); 
  color: var(--primary-text-color);
  font-family:'Roboto', sans-serif;
  font-style: normal;
  text-decoration: none;
}


/* Header + */
.header {
  background: var(--header-footer-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
}


.link{
  /* настледует цвет шрифта от родителя */
  color: inherit;
  /* Убрали подчёркивание нижнее */
  text-decoration: none;
}
.logo{
  font-family: Raleway, sans-serif;
  font-weight: 700; 
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.accent-logo {
  color: var(--color-black);
}

.link:hover,
.link:focus{
  color: var(--accent-color);
}
.acctive{
  color: var(--accent-color);
}
.contacts{
  color: var(--title-text-color);
}
/* Main */
.section-hero{
  background-color: var(--section-one-color);

}
.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--accent-color-second);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* padding-top: 200px;
  padding-bottom: 280px; */
}

.list {
  list-style: none;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  border-radius: 4px;
  background: #F5F4FA;
  color: var(--primary-text-color);
  border-width: 0vw;
  padding: 6px 22px;
  cursor:pointer;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--accent-color-second);
}

.order{
  color: var(--accent-color-second);
  background-color: var(--accent-color);
  padding: 10px 32px;
  text-align: center;
  letter-spacing: 0.06em;
  margin: auto;
}

.text{
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.title{
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
}
.section-what-we-do .title {
text-transform: uppercase;
}
.what-we-do,
.teams{
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

}
.section-teams{
  background-color: var(--body-color-second);
}
.catrs {
  background-color: var(--body-color);
  text-align: center;
  width: 270px;
  height: 368px;  
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.section-teams .title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  /* text-align: center; */
}

.title.text{
  font-weight: 400;
}

.portfolio .items {
  background: var(--body-color);
  border: 1px solid var(--items-border);
  box-sizing: border-box;
  width: 370px;
  height: 404px;    
}
.portfolio .title{
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio .text{
  line-height: 1.87;
}

/* Footer */
.footer{
  background-color: var(--footer-color);
  color: var(--accent-color-second);
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.footer .accent-logo {
  color: var(--accent-color-second);
}
.footer .list {
  color: var(--footer-color-list);
}

.adress {
  font-style: normal;
}