:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196F3;
  --accent-color-second: #ffffff;
  --footer-color: #FFFFFF;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #FFFFFF; 
  color: var(--primary-text-color);
  font-family:'Roboto','Open Sans', sans-serif;
  

}

  
  /* Header */
  .header {
  background: var(--footer-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  /* text-align: left; */
  }

.link{
  /* настледует цвет шрифта от родителя */
  color: inherit;
  /* Убрали подчёркивание нижнее */
  text-decoration: none;
}

.link:hover,
.link:focus{
  color: var(--accent-color);
}
.acctive{
  color: var(--accent-color);
}

/* Foorer */

.list {
  list-style: none;
 }
.button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  border-radius: 4px;
  background: #F5F4FA;
  color: var(--primary-text-color);
  border-width: 0vw;
  padding: 6px 22px;
  cursor:pointer;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--accent-color-second);
  
}

.title{
  color: var(--title-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}


/* Test */
.site-nav .link {
  text-transform:;
}

.text > span {
  text-decoration: line-through;
}

.link {
  text-decoration: none;
}

.post-title {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-justify {
  text-align: justify;
} 

.post-text {
  text-indent: 100px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
}

.post-title {
  letter-spacing: 10px;
}

.post-text {
  letter-spacing: 5px;
}
.title {
  color: #ffffff;
  text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
}
/* Test */